@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.3s ease,
              color 0.3s ease;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.form__input {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.auth-form-error {
    border: 2px solid #f00404;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.loading-modal {
    opacity: 1;
    z-index: 100000;
    visibility: visible;
    pointer-events: all;
  }

/* Loading spinner */
.loader {
    border-width: 6px;
    border-style: solid;
    border-radius: 50%;
    border-top-width: 6px;
    border-top-style: solid;
    width: 60px; height: 60px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(300%);
  }
}
